<?xml version='1.0'?>

<model>
  <name>penns_landing</name>
  <version>0.0.1</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>John McConnell</name>
    <email>jmcconn1@stevens.edu</email>
  </author>
  <description>
    A marina modled off the penns landing in Philadelphia
  </description>
</model>
